@use '../../abstracts/mixins' as m;
@use '../../abstracts/variables' as v;

.projects-section {
    @include m.margin-bottom;

    &__title {
        background-color: v.$color_black;
        padding: 1rem;

        h2 {
            color: v.$color_white;
            margin-bottom: 0;
        }
    }
}
