@use '../../abstracts/mixins' as m;
@use '../../abstracts/variables' as v;

.services-section {
    @include m.margin-bottom;
    @include m.margin-sides;

    h2 {
        margin-bottom: 2rem;
    }
    h3 {
        width: auto;
        margin-bottom: 0.875rem;
    }

    .services-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin: 0 2rem;
        gap: 3rem;

        @include m.respond-to('tablet') {
            grid-template-columns: 1fr;
        }
        .services-container {
            padding: 1.5rem;
            background-color: rgb(228, 228, 228);
            border-radius: 4px;

            ul {
                li {
                    list-style: inside;
                    padding: 0.5rem;
                }
            }
        }
    }
    .services-icon {
        width: 12rem;
        height: 12rem;
        margin-bottom: 1rem;
    }
}
