.carousel-container {
    width: inherit;
    height: inherit;
    position: relative;

    .carousel-images {
        width: inherit;
        height: inherit;

        .carousel-image{
            width: inherit;
            height: inherit;
            display: block;

            &__hidden {
                display: none;
            }

            &__counter{
                position: absolute;
                bottom: 5%;
                left: 50%;
                font-family: monospace;
                font-weight: 600;
                color: white;
                text-shadow: 1px 1px 1px black;
                opacity: 0.5;
                transition: all 250ms ease-in;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }


}
