@use '../../abstracts/variables' as v;
@use '../../abstracts/animations' as *;
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    // Desktop navigation links
    a {
        padding: 0.8rem;

        &:hover {
            text-decoration: none;
        }
        &.active {
            color: v.$primary_color;
            font-weight: 600;
        }
    }

    // Hamburger menu button (visible on mobile only)
    .nav-btn {
        display: flex; // Hidden on larger screens
        width: 2.5rem;
        height: 2.5rem;
        justify-content: center;
        align-items: center;

        .hamburger-menu {
            width: inherit;
            height: inherit;
            background: none;
            border: none;
            cursor: pointer;
        }

        button {
            font-size: large;
        }

        @media (max-width: 768px) {
            display: block; // Visible only on mobile
        }
    }

    // Sidebar for mobile navigation
    .nav-sidebar {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 70%; // Sidebar width
        background-color: #fff; // Sidebar background
        box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1); // Shadow effect
        padding: 20px;
        display: flex; // Hidden by default
        flex-direction: column;
        z-index: 1000;
        transform: translateX(100%); // Hidden by default (off-screen)
        transition: transform 0.3s ease-in-out;
        visibility: hidden;

        &.open {
            transform: translateX(0); // Slide into view when open
            visibility: visible;
        }

        .close-btn {
            align-self: flex-start; // Align to the left
            font-size: 24px;
            background: none;
            border: none;
            cursor: pointer;
            color: black;
        }

        .sidebar-links {
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            a {
                padding: 10px 0;
                font-size: 18px;
                text-decoration: none;
                color: #333;

                &:hover {
                    text-decoration: underline;
                }

                &.active {
                    font-weight: bold;
                    color: v.$primary_color;
                }
            }
        }
    }

    // Hide desktop navigation on smaller screens
    .nav-links {
        @media (max-width: 768px) {
            display: none;
        }
    }
}
