@use '../../abstracts/typography' as t;

.tags-wrapper {
    width: 100%;
    h4 {
        width: 20%;
        padding-top: 10px;
        border-top: 1px solid black;
        margin-bottom: 10px;
    }

    span {
        border: 1px solid black;
        border-radius: 0 4px 0 4px;
        padding: 5px;
        font-family: t.$font_title;
        transition: all 250ms ease-in;

        &:hover {
            box-shadow: inset 10em 0 0 0 black;
            color: white;
        }
    }

    .tags-container {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        row-gap: 0.875rem;
    }
}
