// Colors UI

$primary_color: #98dfaf;
$secondary_color: #d6c9c9;
$tertiary_color: #f3eded;
$color_black: #0f0909;
$color_white: #ffff;

// Colors fonts

$font-black: #0f0909;
$font-white: #f3eded;

// Colors apps

$color_html: #e34d26;
$color_css: #0070bb;
$color_postman: #fd6d44;
$color_react: #087ea4;
$color_sass: #cd6aa0;
$color_node: #5da34f;
$color_js: #f0db4f;
$color_swagger: #49a22a;
$color_mongo: #6ab356;
$color_gulp: #d04347;
$color_git: #ee4334;
$color_npm: #ca3232;
$color_express: #2c2f2e;
$color_wordpress: #00749c;
